{{define "funcs"}}
func {{.Name}}(t *testing.T) {
	expectedBody := "{\"code\":\"fail\",\"message\":\"param illigal\"}"
	req, _ := http.NewRequest("{{.Action}}", "/api/projects//users", nil)
	req.Header.Set("X-Forwarded-User", "test_procurement;2")
	response := executeRequest(req)

	checkResponseCode(t, http.StatusBadRequest, response.Code)
	checkResponseBody(t, expectedBody, response)
}
{{end}}